{% if categories %}

  <div class="container">
    <div id="nav-border" class="container"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container" id="menu">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {% for category in categories %}
            {% if category.children %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                  Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for child in children %}
                    <a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a>
                  {% endfor %}
                </div>
              </li>     
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{{ category.href }}">{{ category.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>    
  </div>

{% endif %}